# Node/Electron
node_modules/
dist/
out/
build/
release/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Electron-builder outputs
*.exe
*.dmg
*.AppImage
*.blockmap
latest*.yml

# VS Code
.vscode/

# Misc
coverage/
.cache/